<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
				<h3> About us </h3>
				<ul>
					<li> <a href="#"> About </a> </li>
					<li> <a href="#"> Team </a> </li>
					<li> <a href="#"> Polycy </a> </li>
					<li> <a href="#"> Helps </a> </li>
				</ul>
			</div>
			<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
				<h3> Resources </h3>
				<ul>
					<li> <a href="#"> User Guide </a> </li>
					<li> <a href="#"> Top questions </a> </li>
					<li> <a href="#"> Contact </a> </li>
					<li> <a href="#"> Report </a> </li>
				</ul>
			</div>
			<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
				<h3> Social Contact </h3>
				<ul>
					<li> <a href="#"> Youtube </a> </li>
					<li> <a href="#"> Facebook </a> </li>
				</ul>
			</div>
			<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
				<h3> Top Courses </h3>
				<ul>

				</ul>
			</div>
			<div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
				<h3> Fanpage </h3>
				<div class="fb-page"
				data-href="https://www.facebook.com/sociss.edu.vn"
				data-hide-cover="false"
				data-show-facepile="true"></div>
			</div>
		</div>
		<!--/.row-->
	</div>
	<!--/.container-->
</div>
<!--/.footer-->

<!-- footer-bottom-->
<div class="footer-bottom">
	<div class="container" align="center">
		<b>Version</b> 1.0.0 <strong>Copyright &copy; 2017 Sociss Class TEAM.</strong> All rights
		reserved.
	</div>
</div>
<!--/.footer-bottom-->
