<nav>
  <div class="sidebar-header">
    <!-- User data here -->
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a href="#rooms-menu" data-toggle="collapse" aria-expanded="false">
        Rooms
      </a>
      <ul class="list-unstyled blue-scrollbar room-items" id="rooms-menu">
        <li><a href="#">Room 1</a></li>
        <li><a href="#">Room 2</a></li>
        <li><a href="#">Room 3</a></li>
        <li><a href="#">Room 4</a></li>
        <li><a href="#">Room 5</a></li>
        <li><a href="#">Room 6</a></li>
        <li><a href="#">Room 7</a></li>
        <li><a href="#">Room 8</a></li>
        <li><a href="#">Room 9</a></li>
        <li><a href="#">Room 10</a></li>
        <li><a href="#">Room 11</a></li>
        <li><a href="#">Room 12</a></li>
      </ul>
    </li>
  </ul>
</nav>
