<div align="center" style="padding: 5px; background-color: #404a75">
  <button type="button" class="btn btn-success" ng-click="vm.createNewRoom()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Create
  </button>

  <button type="button" class="btn btn-primary" ng-click="vm.joinRoom()">
    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
    Join Room
  </button>
</div>

<ul class="list-unstyled components">
  <li class="active">
    <a href="#rooms-menu">
      Rooms
    </a>
    <ul class="list-unstyled blue-scrollbar room-items" id="rooms-menu">
      <li ng-repeat="room in vm.rooms">
        <a href="/u/room/{{room.code}}">{{room.name}}</a>
      </li>
    </ul>
  </li>
</ul>
