<section>
  <h1>{{vm.room.name}}</h1>
  <hr/>

  <!-- chatbox -->
  <div class="row chatbox">
    <div class="col-xs-12 col-sm-9">
      <!-- message item -->
      <div class="chat-content" id="chat-messages">
        <div class="media" ng-repeat="message in vm.room.messages">
          <div class="media-left" ng-if="vm.loggedUser.username !== message.author.username">
            <img src="/assets/images/default-avatar.png" class="media-object">
          </div>

          <div class="media-body" ng-class="{
            'text-right' : vm.loggedUser.username === message.author.username}">
            <h4 class="media-heading">{{message.author.username}}</h4>
            <p>{{message.content}}</p>
          </div>

          <div class="media-right" ng-if="vm.loggedUser.username === message.author.username">
            <img src="/assets/images/default-avatar.png" class="media-object">
          </div>
        </div>
        <!-- ./ message item -->
      </div>
      <br/><br/>

      <!-- chatbox input -->
      <form class="form-inline" ng-submit="vm.sendMessage(vm.message !== '')">
        <div class="col-xs-9 form-group" style="padding: 0;">
          <input class="form-control" type="text" style="width: 100%; height:40px;"
          placeholder="Type your message ..."
          ng-model="vm.message"></input>
        </div>

        <div class="col-xs-3 form-group">
          <button type="submit" class="btn btn-primary">
            Send
          </button>
        </div>
      </form>
      <!-- ./ chatbox input -->
    </div>

    <div class="col-xs-12 col-sm-3 user-list blue-scrollbar hidden-xs">
      <div class="media" ng-repeat="user in vm.room.joined" >
        <div class="media-left">
          <img src="/assets/images/default-avatar.png" class="media-object">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{user.username}}</h4>
          <span ng-if="user.isOnline" class="label label-success">Online</span>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ chatbox -->
</section>
