<div class="container-fluid">
  <div class="row">
    <div class="jumbotron">
      <h1>Wellcome to Qchat!</h1>
      <p>Chatting with your friend anywhere.</p>
    </div>
  </div>

  <div class="row">
    <h1>Your recent rooms</h1>
    <hr/>
    <div class="col-xs-12 col-sm-4" ng-repeat="room in vm.rooms">
      <!-- room card -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/u/room/{{room.code}}">{{:: room.name}}</a>
          </h3>
        </div>
        <div class="panel-body">
          <b>Code: </b> {{:: room.code}}
          <br/><br/>
          <div>
            <a href="/u/room/{{room.code}}">
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
              Goto room
            </a>
          </div>
        </div>
      </div>
      <!-- ./ room card -->
    </div>
  </div>
</div>
