<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Wellcome to Qchat!</h1>
      <p>Chatting with your friend anywhere.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Try now</a></p>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io('http://localhost:7575');
  socket.on('connection', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>
