<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Wellcome {{user.username}} to Qchat!</h1>
      <p>Chatting with your friend anywhere.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/signin" target="_self" role="button">Try now</a>
      </p>
    </div>
  </div>
</div>

<div style="height: 100px;" />

<form class="" action="/api/secure/room/vW9n8j" method="post">
  <input type="hidden" name="password" value="123456789">
  <button type="submit" name="button">join</button>
</form>
